.contents.row
  .container
    = form_for @menu do |form|
      %h3
        投稿する
      = form.text_field :name, placeholder: "じゃがいも"
      = form.text_field :namber, placeholder: "量"
      = form.submit "SEND"
