<div class="contents row">
  <div class= "content-box">
    <p class= "text1"><%= @nickname %>さんの投稿一覧</p>
    <% @posts.each do |post| %>
    <%= link_to "/posts/#{post.id}" do %>
      <div class="left-content__box-image" style="background-image: url(<%= post.image %>);">
      </div>
    <% end %>
    <% end %>
  </div>
</div>