// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html {
}

body {
}
.title {
  font-size: 40px;
}
.contents {
  display: flex;
  background-color: #f6f6f6;
  width: 100%;
  height: 100vh;
}
.left-content {
  background-color: white;
  height: 100vh;
  width: 1250px;
  overflow: scroll;

  &__list {
    width: 900px;
    margin: auto;

  }

  &__image {
    width: 900px;
    height: 600px;
    margin: auto;
    background-size: cover;
  }
}
.menu {
  margin-left: 85px;
}
.menu-box {
  width: 700px;
  display: flex;
  justify-content: space-around;
  padding: 0.2em 0.5em;
  margin: 2em 0;
  background: #dbf7c6c2;
  box-shadow: 0px 0px 0px 10px #dbf7c6c2;
  border: dashed 2px white;
}



.recipe-main {
  height: 500px;
  background-color: white;

  &__title {
  text-align: center;
  font-size: 40px;
  margin-top: 15px;
  margin-bottom: 10px;
  }

  &-box{
  display: flex;
  }

  &-box__image {
  height: 500px;
  width: 800px;
  background-size: cover;
  margin-bottom: 15px;
  margin-left: 50px;
  }

  &-box-content {
  height: 400px;
  width: 200px;
  margin-bottom: 15px;
  margin-left: 15px;
  margin-right: 15px;

  
  }

  &-box-content__name {
  height: 60px;
  width: 250px;
  margin: auto;
  }
 
  &-box-content__text {
  height: 440px;
  width: 250px;
  border: solid 3px #dbf7c6c2;
  border-radius: 10px;
  overflow: scroll;
  }
}
.recipe-main-box-content__name p{
  text-align: center;
  font-size: 35px;
}
.recipe-main-box-content__text p{
  font-size: 25px;
  text-align: center;
}

.step-main {

}
.box26 {
  position: relative;
  margin: 2em 0;
  padding: 0.5em 1em;
  border: solid 3px #dbf7c6c2;
  border-radius: 8px;
  margin: 0 30px;
}
.box26 .box-title {
  position: absolute;
  display: inline-block;
  top: -13px;
  left: 10px;
  padding: 0 9px;
  line-height: 1;
  font-size: 19px;
  background: #FFF;
  color: #63e204;
  font-weight: bold;
}
.box26 p {
  margin: 0; 
  padding: 0;
  font-size: 20px;
  text-align: left;
}

.name{
  font-size: 40px;
}
.name-content{
  font-size: 30px;
}

.rigth-content {
  background-color: #f6f6f6;
  height: calc(100vh - 120px);
  width: 20%;
  overflow: scroll;
}
.more_lists {
  text-align: center;
  margin-top: 15px;
}
.more_lists a{
  color: #66e84f;
  font-size: 40px;
}

.name-box {
  font-size: 30px;
  text-align: center;
  color: #31f70e;
  margin-top: 15px;
}




