.contents {
  width: 100%;
  height: 100%;
}
  .slick{
    display: block;
    background-color: #f3f3f3;
    border-bottom: 1px solid #c7c7cc;
    padding: 1.5em;;
      .slider{
        box-shadow: 7px 7px 4px rgba(0, 0, 0, .28);
        width: 80%;
        margin: auto;
      }
  }
  .content {
    width: 80%;
    margin: auto;
    
    &_lists{
      display: flex;
      width: 100%;
      flex-wrap: wrap;
    }
    &_list{
      padding-right: 10px;
      padding-bottom: 20px;
      :hover{
        border: 1px solid #66e84f;
        transition: all 0.3s ease 0s;
      }
        }
    &_image{
      box-shadow: 1px 3px 4px rgba(0, 0, 0, .28);
    }
  }
  .title {
    font-size: 40px;
    border-bottom: 1px solid #efedeb;
    border-top: 1px solid #efedeb;
    font-size: 20px;
    font-weight: normal;
    margin: 40px 0 16px;
    padding: 16px 0;
    text-align: center;
      :hover{
        color: #66e84f;
        transition: all 0.3s ease 0s;
      }
  }
    .header-name{
      color: black;
    }
  .title-name{
    color: black;
    font-size: 28px;
    font-weight: bold;
  }

  .box-image{
    height: 270px;
  }
  .slick-prev::before,
  .slick-next::before{
    color: black;
  }


