.container{
  width: 75%;
  margin: auto;
}
  .container-main{
    display: flex;
    padding-top: 10px;
  }

    .container-box{
        width: 50%;
    }
        .name-lists{
            width: 700px;
            margin: auto;
        }
            .name-title{
                font-size: 20px;
                color: #4a4a4a;
                padding-top: 20px;
            }
            .name-list{
                width: 90%;
                height: 30px;
                padding: 10px;
                font-size: 20px;
            }

        .field3{
            width: 89%;
        }
            .dleate{
                color: #63e204;
            }
            .add{
                color: #63e204;
            }
            .name-image{
                font-size: 20px;
                color: #4a4a4a;
            }
            .name-list-image{
                height: 30px;
                width: 100%;
                background: #f5f5f5;
                border: 1px dashed #ccc;
                text-align: center;
                border-bottom: none;
            }

            .preview3{
                height: 383px;
                width: 100%;
                background: #f5f5f5;
                border: 1px dashed #ccc;
                text-align: center;
                border-top: none;
            }
    .container-box2{

    }
        .text-list1{

        }
            .menu-name{
                display: flex;
                justify-content: space-around;
                font-size: 20px;
                color: #4a4a4a;
            }

    .container-box3{
        
    }

        .text-list2{
        }

            .recipe-name{
                font-size: 20px;
                color: #4a4a4a;
                padding-top: 20px;
            }
            .fields{
            }
        .recipe-btn{
            width: 90%;
            margin: 5px 16px;
            background-color: transparent;
            border: none;
            cursor: pointer;
            outline: none;
            padding: 0;
            appearance: none;
            background: #63e204;
            border-radius: 100px;
            padding: 10px 0;
            color: #fff;
            font-size: 17px;
            font-weight: 600;
            line-height: 1;
        
        }






    .image_box_main {
    display: flex;
    align-items: center;
    justify-content: left;
    input {
        display: none;
    }
    #post_images_attributes_0_image_url {
        display: block;
        width: 100%;
        background: #f5f5f5;
        border: 1px dashed #ccc;
        min-height: 162px;
        text-align: center;
    }
    .preview {
        flex-wrap: wrap;
        margin: 10px;
        display: flex;
        width: 80%;
    }
    .btnbox-margin {
        margin: 0 10px;
    }
    .btnbox{
        margin: 10px;
    }
    .image_box {
        align-content: stretch;
        width: 3px;
        height: 150px;
        text-align: center;
        padding: 10px 10px 10px 10px;
        border: 1px solid #ccc;
        .image_boxs {
            display: none;
            display: block;
        }
    }
    }

    .success{
        width: 30%;
        margin: auto;
        padding-top: 40px;
        text-align: center;

        .btn{
            background-color: transparent;
            border: none;
            cursor: pointer;
            outline: none;
            padding: 0;
            appearance: none;
            background: linear-gradient(180deg,#ffaa4e 1.28%,#febc56 74.02%);
            border-radius: 100px;
            padding: 16px 0;
            color: #fff;
            font-size: 17px;
            font-weight: 600;
            line-height: 3;
            height: 60px;
            width: 100%;
      
        }
    }

