.container{
  width: 75%;
  margin: auto;
}
  .container-main{
    display: flex;
    padding-top: 10px;
  }

    .container-box{
        width: 50%;
    }
        .name-lists{
            width: 700px;
            margin: auto;
        }
            .name-title{
                font-size: 20px;
                color: #4a4a4a;
                padding-top: 20px;
            }
            .name-list{
                width: 90%;
                height: 30px;
                padding: 10px;
                font-size: 20px;
            }

        .field3{
            width: 89%;
        }
            .dleate1{
                color: #63e204;
                padding-top: 2px;
                padding-bottom: 5px;
                width: 35px;
            }
            .add{
                color: #63e204;
                width: 35px;
            }
            .name-image{
                font-size: 20px;
                color: #4a4a4a;
            }
            .name-list-image{
                height: 30px;
                width: 100%;
                background: #f5f5f5;
                border: 1px dashed #ccc;
                text-align: center;
                border-bottom: none;
            }

            .preview3{
                height: 383px;
                width: 100%;
                background: #f5f5f5;
                border: 1px dashed #ccc;
                text-align: center;
                border-top: none;
            }
    .container-box2{

    }
        .text-list1{

        }
            .menu-name{
                display: flex;
                justify-content: space-around;
                font-size: 20px;
                color: #4a4a4a;
            }

            .menu{
                width: 48%;
            }

            .amount{
                width: 48%;
            }
            
    .container-box3{
        
    }

        .text-list2{
            width: 100%;
        }
        .recipe-lists{
            display: none;
        }
        .preview{
            flex-wrap: wrap;
            margin: 10px;
            display: flex;
        }
        .btnbox-margin {
            margin: 0 10px;
        }
        .btnbox{
            margin: 10px;
        }

            .recipe-name{
                font-size: 20px;
                color: #4a4a4a;
                padding-top: 20px;
                
            }
            .recipe-list{
                display: flex;
                width: 100%;
                flex-wrap: wrap;
            }
            .recipe2{
                width: 80%;
                height: 100px;
                padding: 5px;
            }
            .fields{
                width: 360px;
            }

            .dleate2{
                padding: 3px 0 10px 0;
                color: #63e204;
                width: 35px;
                
            }
            .add2{
                color: #63e204;
                line-height: 6;
            }

        .container-box4{
            text-align: center;
            margin-top: 100px;
        }
            .recipe-btn{
                width: 50%;
                height: 60px;
                margin: auto;
                background-color: transparent;
                border: none;
                cursor: pointer;
                outline: none;
                padding: 0;
                appearance: none;
                background: #63e204;
                border-radius: 100px;
                padding: 10px 0;
                color: #fff;
                font-size: 17px;
                font-weight: 600;
                line-height: 1;
            
            }


    .success{
        width: 30%;
        margin: auto;
        padding-top: 40px;
        text-align: center;

        .btn{
            background-color: transparent;
            border: none;
            cursor: pointer;
            outline: none;
            padding: 0;
            appearance: none;
            background: linear-gradient(180deg,#ffaa4e 1.28%,#febc56 74.02%);
            border-radius: 100px;
            padding: 16px 0;
            color: #fff;
            font-size: 17px;
            font-weight: 600;
            line-height: 3;
            height: 60px;
            width: 100%;
      
        }
    }

    .recipe-lists2{
        display: flex;
        width: 100%;
        flex-wrap: wrap;
    }
