.contents{
  width: 100%;
  height: 100%;
}
.recipe-main {
  width: 80%;
  &__title {
    text-align: center;
  }
    .more{
      &_lists{
        display: flex;
        justify-content: space-evenly;
        :hover{
          color: #66e84f;
          transition: all 0.3s ease 0s;
        }
        a{
          color: #4a4a4a;
        }
      }
    }

  &-box{
  display: flex;
  justify-content: center;
  padding-top: 20px;

  }

  &-box__image {
  margin-bottom: 15px;
  }

  &-box-content {
    margin-left: 50px;
  }

  &-box-name {
  margin-bottom: 10px;
  }
    .recipe{
      border-bottom: 2px solid #66e84f;;
      font-weight: bold;
      font-size: 20px;
      padding: 10px;
    }
    .zairyou{
      font-weight: bold;
      font-size: 20px;
      padding: 10px;
    }
 
  &-box-text {

  }
    .menu-name{
      border-bottom: 1px solid #c7c7cc;
      padding: .5em 0;
      display: flex;
      justify-content: space-between;
    }
}

    .step-main {
    margin-top: 20px;
    }

      .box-lists{
        display: flex;
        flex-wrap: wrap;
        margin: 0 50px;
      }
      .box-list{
      }
        .box-list-numder{
          font-size: 20px;
          font-weight: bold;
          padding: 0 10px;
        }
        .box-list-image{
          padding: 0 10px 10px 10px;
        }
        .box-list-text{
          padding: 0 10px 10px 10px;
          overflow-wrap: break-word;
          width: 225px;
        }
    .box-title {
      padding-left: 97px;
      font-size: 25px;
      color: #63e204;
      font-weight: bold;
    }


    .name{
      font-size: 40px;
      font-weight: bold;
    }
    .name-content{
      font-size: 30px;
    }
    .button_to{

      :hover{
        background-color: #66e84f;
        border: solid 1px #66e84f;
        color: #fff;
        transition: all 0.3s ease 0s;
      }
    }
    .love-btn{
      background-color: transparent;
      border: none;
      cursor: pointer;
      outline: none;
      padding: 0;
      appearance: none;
      height: 48px;
      font-size: 15px;
      border: solid 1px #66e84f;
      color: #66e84f;
      width: 253px;
      box-shadow: 0 2px 4px hsla(0,0%,82%,.5);
      border-radius: 24px;
      font-weight: 700;
      line-height: 14px;

    }
.side{
  float: right;
  height: 700px;
  background-color: #c7c7cc;
  width: 20%;
  position: -webkit-sticky;
  position: sticky;
  top: 10px;
  background: #f3f3f3;
  overflow: scroll;
}
  .textbox{
    width: 90%;
    margin: 0 7px;
    padding: 6px;
    
  }
  .form__submit{
    width: 90%;
    margin: 5px 16px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 0;
    appearance: none;
    background: linear-gradient(180deg,#ffaa4e 1.28%,#febc56 74.02%);
    border-radius: 100px;
    padding: 10px 0;
    color: #fff;
    font-size: 17px;
    font-weight: 600;
    line-height: 1;
  }

  .comments{
    text-align: center;
  }
  .comment{

  }
    .comments_name{
      color: #ffaa4e;
      font-size: 18px;

    }
    .comments_text{
      margin: 0 5px;
    }
